<%= image_tag @user['picture']['data']['url'].to_s %>
<h1> Here is where the page ends up </h1>

<%= @user['name'] %> <br/ >
<%= @user['gender'] %> <br/ >
<%= @user['birthday']%> <br/ >
<%= @user['Check-ins']%> <br/ >
<%= @user['Movies']%> <br/ >
<%= @user['Sports']%> <br/ >
